<h1> Game Time </h1>

<div class='container'>
 <div class= 'row'>
    <%@games.each do |game|%>
      <div class="col-sm-4">
        <div class="card border-light">
        <%# SHOW PHOTO METHOD IN APPLICATION HELPER %>
          <div class="thumbnail"></div>
          <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5><%= game.title %></h5>
                <%=favorite_link(game)%>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">Created <%=time_ago_in_words(game.created_at)%> ago</h6>
            <p class="card-text"><%= game.description %></p>
            <div class= "d-flex justify-content-between">
              <%= link_to "show", game_path(game.id), class: "show-button" %>
              <h5><%= "$1" %></h5>
            </div>
          </div>
        </div>
      </div>
      <%end%>
 </div>
</div>